
$color-1-1: #343642;
$color-1-2: #2F889A;
$color-1-3: #D2D8D8;
$color-1-4: #E6EAEA;
$color-1-5: tomato;
$color-1-6: #757575;
$color-white: #fff;

$main-bg-color: $color-1-1;
$popup-bg: $color-white;
$button-bg: $color-1-2;
$disable-tab: $color-1-3;
$border-color: $color-1-4;
$bg-error: $color-1-5;
$font-color: $color-1-6;