@import "variables";
@import "fonts";
@import "components/*";

body {
  min-width: 320px;
  margin: 0;
  height: auto;
  position: relative;
  font-family: "Roboto",sans-serif;
  text-align: center;
  background-color: $main-bg-color;
}

.hidden {
  display: none;
}

.mfp-close {
    display: none !important;
}

.modal {
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  max-width: 480px;
  border-radius: 3px;
}

.buttons-wrap {
  & {margin-top: 20px;
  width: auto;
  }

  > .button{
    margin-top: 15px;
    padding: 3px 10px;

    &.-signUp{
      margin-left: 10px;
    }
  }
}

.modal-tabs {
  &{
    padding: 0;
    margin: 0;
    display: flex;
  }

  > .tab {
    & {
      width: 100%;
      padding: 20px;
      cursor: pointer;
      text-align: center;
      background-color: $disable-tab;
      border-radius: 3px;
      list-style: none;
    }

    &.active {
      background-color: $color-white;
    }
  }
}

.modal {
  > .tab-item {
    position: relative;
    > .link {
      font-size: 12px;
      color: $color-white;
      text-align: center;
    }
    > .-restorePass,.-backToLog {
      width: 300px;
      position: absolute;
      bottom: -30px;
      left: 50%;
      margin-left: -150px;
    }
  }
}

.tab-item {
  display: none;
  &.active {
    display: block;
  }
}

.form {
  > .error {
    font-size: 14px;
  }
}
