.form {
  & {
    display: flex;
    flex-direction: column;
    padding: 23px 25px;
    position: relative;
  }

  > .check {
    align-self: start;
    margin-bottom: 22px;
    color: $font-color;
  }

  > .form-input {
    & {
      padding: 12px 37px;
      margin-bottom: 26px;
      border: 1px solid $border-color;
    }

    &.-password {
      margin-bottom: 21px;
    }
  }

  > .hide {
    & {
      display: block;
      position: absolute;
      height: 40px;
      width: 43px;
      top: 92px;
      right: 30px;
      border: none;
      background-color: transparent;
      color: $font-color;
      cursor: pointer;
    }

    &:before {
      height: 50%;
      width: 0px;
      position: absolute;
      content: "";
      top: 10px;
      left: -10px;
      display: block;
      border-left: 2px solid $border-color;
      outline: none;
    }

    &.-confirmPass {
      top: 154px
    }
  }

  > .button-submit {
    margin-bottom: 5px;
    padding: 10px 40px;
    font-family: "Roboto",sans-serif;
    background-color: $button-bg;
    border: 1px solid darken($button-bg,2%);
    border-radius: 2px;
    color: $color-white;
    cursor: pointer;
  }

  > .error {
    border-radius: 2px;
    margin-bottom: 10px;
    text-align: center;
    background-color: $bg-error;
    color: $color-white;
  }
}